<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key, height: 500, width: 400, crop: :fill %>')">
  <div class="container">
    <h1>Le <%= @cocktail.name %></h1>
    <p>J'aimerais avoir son talent</p>
  </div>
</div>

<div class="container pad20">

  <!-- Image -->
  <!-- Ingredient heading -->
  <div class="pad10">
    <% if @cocktail.doses.empty? %>
    <p class="text-gray">
      No ingredients yet. Add yours!
    </p>
    <% else %>
    <h3> Ingredients </h2>
      <% end %>
  </div>

  <!-- Ingredient list -->
  <ul class="list-unstyled pad20">
    <% @cocktail.doses.each do |d| %>
    <li>
      <p class="pad10"><%= d.description %> of <strong> <%= d.ingredient.name %> </strong></p>

      <%= link_to "Delete", dose_path(d), class: "btn btn-danger btn-xs", method: :delete  %>
    </li>
    <% end %>
  </ul>
  <div class="pad20">
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary", id: "ingredient-add-button"%>
    <%= link_to "Go back", cocktails_path, class: "btn btn-warning" %>
  </div>



</div>
